<div class="row">
  <div class="col-sm-12" align="center">
    <h1>PETICION DE TRANSFERENCIA</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-1" align="center">
    <h3>USUARIO</h3>
  </div>
  <div class="col-sm-5"></div>
  <div class="col-sm-1" align="center">
    <h3>PAPA</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <app-medicamento>
      [texto]= ""
      [imagen]= ""
    </app-medicamento>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-7">
  <h1>hola</h1>
  </div>
</div>

<br>
<div class="row">
  <div class="col-sm-4" >
    <h3>modelos hijo - 12</h3>
  </div>
</div>
